.dashboard-main {
            text-align: center; /* Center align content */
        }

        .dashboard-main h1 {
            font-size: 30px;
            font-weight: 400; 
			color: #4C70D8;
        }
		.cards-section{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 45px 0px;
		    margin: 0 auto;
		}
		
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6); /* gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(4px);  /* blur effect */
}

.modal-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.esign-btn {
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    color: white;
    background: #007bff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
		
		.cards{
			justify-content: center;
			color: #fff;
			font-weight: 700;
			min-width: 200px;
			transition: all 0.3s e ase;
			box-sizing: border-box;
		}
		.cards a{
			display: flex;
			width: 100%;
			max-width: 200px;
		}
		.card-inner{
			background: #3EA5D3;
			background: linear-gradient(147deg,rgba(62, 165, 211, 1) 0%, rgba(16, 74, 101, 1) 100%);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 200px;
			padding: 10px;
			gap: 15px;
		}
		.card-top{
			display: flex;
			justify-content: space-between;
		}
		.card-bottom{
			display: flex;
		}
		.card-number{
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75);
		}