.editprofile {
  /* Styles for EditProfile */
}
/* optional, minimal tweaks */
.editprofile .profile-edit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.editprofile input[type="email"], .editprofile input[type="text"] {
  font-size: 16px;
  margin-top: 1px;
}
.editprofile .fa { margin-top: 1px; }

.profile-container .avatar-camera-overlay {
  opacity: 0.8;
}
.profile-container div[title="Change profile picture"]:hover .avatar-camera-overlay {
  background: rgba(0,0,0,0.82);
  opacity: 1;
}
.editprofile .info-block{
  margin-bottom: 28px;
}
@media(max-width: 770px){
  .profile-container{
    flex-direction: column;
  }
}
