.dashboard-main h2{
  background-color: #007A7A;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 0;
    border-radius: 3px;
    margin: 15px 0;
    text-transform: capitalize;
}
.top-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-box input {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-button {
  background-color: #006d75;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}
.datatable{
  margin: 20px 0;
}
.datatable thead tr{
  background-color: #156082;
  color: #fff;
  border-collapse: collapse;
}
.credted-rfi .left{
  margin-top: 85px;
}

.datatable th,
.datatable td {
  border: 1px solid #ccc;
  padding: 10px 12px;
  width: 11%;
  min-width: 125px;
  max-width: 200px;
  word-wrap: break-word;
}
.datatable tbody tr:nth-child(odd) td {
  background-color: #fff;
}
.activePage {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
.table-section{
  overflow-x: auto;
}
