.header {
  /* Styles for header */
}
.top-right-menu ul li .user-profile{
  display: flex;
  align-items: center;
  gap: 3px;
}
.top-right-menu ul li .user-profile i{
  font-size: 14px;
  margin-left: 5px;
}